# not dotfiles
[!.]*/*

# x server crasg files
.serverauth*

# steam gaming server data
.steam*

# any history
*_history
.lesshst
.vim/.netrwhist
.links/links.his
.links2/links.his

# file used by x login screens
.Xauthority

# vim swap files
*.swp
*.swo

# vim history, etc...
.viminfo
.viminfo.tmp

# xmonad errors
.xmonad/xmonad.errors

# xmonad binaries
.xmonad/xmonad-*


# other not really configuration files
.xdvirc
.VirtualBox/*
.audacity-data/*
.cabal/
.cache/
.config/
.dbus/*
.gem/*
.ghc/*
.gimp*/*
.java/*
.npm/*
.pki/*
.ssh/*
.thumbnails/*
.vagrant.d/*
.local/
.macromedia/
.mozilla/

*.o
*.hi

.fehbg
.pulse-cookie
.wine/
.winetest/*

.bundler/*

.SchematicFrame
.cvpcb
.darcs/
.dbshell
.dia/
.eeschema
.gerbview
.gstreamer-0.10/
.ipython/
.kbdReminder-sk-erb.png
.kicad
.kicad-share/
.kicad_common
.mongorc.js
.pcb_calculator
.pcbnew
.windows-serial
.wine32/
kicad-*

.backup/*
